<div class="row" id="loginWrapper">
  <!-- from here it is login form -->
  <div class="col-xl-4">
    <div class="wrapper fadeInDown zero-raduis">
      <div id="logFormWrapper" class="cardContent">
        <!-- Tabs Titles -->
        <div class="fadeIn first">
          <h2 *ngIf="userService.afterLogIn == false" class="my-5">
            Please sign in to continue<br />
            It's easy!
          </h2>
          <h2 *ngIf="userService.afterLogIn == true" class="my-5">
            you have successfully connected <br />
            Welcome back {{ userService._currentUser.firstName }}
            {{ userService._currentUser.lastName }} <br />
          </h2>
        </div>

        <!-- Login Form -->
        <form>
          <input
            type="email"
            id="email"
            class="fadeIn second zero-raduis"
            name="mail"
            placeholder="email"
            [(ngModel)]="logIn.mail"
          />
          <input
            type="password"
            id="password"
            class="fadeIn third zero-raduis pt-3"
            name="password"
            placeholder="password"
            [(ngModel)]="logIn.password"
          />
          <small
            *ngIf="userService.incorrect != ''"
            class="text-right text-danger"
            >{{ userService.incorrect }}</small
          >

          <input
            type="button"
            class="fadeIn fourth zero-raduis"
            value="{{ userService.logInBtnValue }}"
            (click)="loginBtn()"
          />
          <div *ngIf="userService.afterLogIn == false">
            <h2>You don't have a account ?</h2>
            <input
              type="button"
              class="fadeIn fourth zero-raduis pc"
              value="register"
              (click)="goRegisterPage()"
            />
          </div>
          <div *ngIf="userService.afterLogIn == true">
            <input
              type="button"
              class="fadeIn fourth zero-raduis"
              value="logout"
              (click)="logoutBtn()"
            />
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- here it is end of log in form and start the abuot as card -->
  <div class="col-xl-4">
    <div class="wrapper fadeInDown zero-raduis">
      <div class="cardContent">
        <h2 class="py-4 px-3 fadeIn first">
          Aluma Store The best supermarket you will find
        </h2>
        <div id="aboutAs" class="px-4 py-3 fadeIn second">
          Because of the price thanks to the service!<br />
          This is our motto and this is our vision<br />
          The highest level of service along with a decent price for every
          pocket, We are proud to be one of the leading food chains in the
          country. With dozens of branches and hundreds of employees and
          hundreds of thousands of satisfied customers! So what are you waiting
          for? Start buying and start saving
        </div>
        <img
          id="cardImg"
          class="fadeIn fourth"
          alt="logo"
          src="../../../assets/images/logoWhiteBG.jpeg"
        />
      </div>
    </div>
  </div>

  <!-- here it is end of about as card and start the store details -->
  <div class="col-xl-4">
    <div class="wrapper fadeInDown zero-raduis">
      <div class="cardContent" id="storeDeatails">
        <h2 class="py-4 px-3 fadeIn first">our Store details</h2>
        <div class="px-4 py-3 fadeIn second">
          <p>
            Total Orders placed on the site : {{ orderService.ordersAmount }}
          </p>
          <p class="my-4">Total Products in our store : {{ productsAmount }}</p>
          <div
            class="fadeIn first zero-raduis"
            *ngIf="cartService.cartStatus == 'openCart'"
          >
            <div *ngIf="cartService.cartTotalPrice != 0">
              <p>
                You have an open cart from :
                {{ cartService._currentCart.createdAt | date: "MMM d, yyyy" }}
              </p>
              <p class="mt-1">
                At a total price of :
                {{ cartService.cartTotalPrice | number }}$
              </p>
            </div>
            <div *ngIf="cartService.cartTotalPrice == 0">
              <p>
                Your last visit was: :
                {{ cartService._currentCart.createdAt | date: "MMM d, yyyy" }}
              </p>
              <p class="my-2">Welcome back</p>
            </div>
            <input
              class="startShppingBtn"
              type="button"
              value="Continue shopping"
              (click)="goToHomePage()"
            />
          </div>
          <div
            class="fadeIn first zero-raduis"
            *ngIf="cartService.cartStatus == 'nonOpenCart'"
          >
            <p>
              Your last purchase was at :
              {{ orderService.lastOrder.updatedAt | date: "MMM d, yyyy" }}
            </p>
            <p class="my-2">
              At a total price of :
              {{ orderService.lastOrder.totalPrice | number }} $
            </p>
            <input
              class="startShppingBtn"
              type="button"
              value="Start shopping"
              (click)="goToHomePage()"
            />
          </div>
          <div
            class="fadeIn first zero-raduis"
            *ngIf="cartService.cartStatus == 'newUser'"
          >
            <p>
              We are glad you joined us
              {{ userService._currentUser.firstName | titlecase }}, welcome to
              your first purchase
            </p>
            <input
              class="startShppingBtn"
              type="button"
              value="Start shopping"
              (click)="goToHomePage()"
            />
          </div>
        </div>
        <img
          src="../../../assets/images/storeCard.jpeg"
          class="storeCardImg fadeIn fourth"
        />
      </div>
    </div>
  </div>
</div>
