<div class="row">
  <!-- Here's the part of the products cards and searc box  -->
  <div id="productsWarrper" class="{{ cardsWidth }}">
    <div id="searchBox" class="bg-white rounded shadow">
      <form id="searchform">
        <div class="input-group mb-4 border rounded-pill p-1">
          <input
            type="search"
            placeholder="What're you searching for?"
            aria-describedby="button-addon4"
            class="form-control bg-none border-0"
            [(ngModel)]="productService.searchBox"
            name="searchBox"
          />
          <div class="input-group-prepend border-0 mx-3">
            <button
              id="button-addon4"
              type="button"
              class="btn btn-link text-success"
              (click)="productService.searchProduct()"
            >
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <app-product-card
      (showFormFun)="showForm(true)"
      class="row"
    ></app-product-card>
  </div>

  <!-- Here's the part of the cart (side bar)  -->

  <div id="cartWarrper" class="{{ fadeClassAnimation }}">
    <div id="cartHeader">
      <div *ngIf="userService.isAdmin == true">
        <div class="text-center">
          <span class="cartTitle">Products editor</span>
        </div>
      </div>
      <div *ngIf="userService.isAdmin == false">
        <h2 class="py-3 cartTitle">
          my cart<br /><span id="productsAmount">
            Total: {{ cartService._liveCart.length }} Products
          </span>
        </h2>
        <i class="bi bi-cart-fill"></i>

        <div id="clearDiv">
          <button
            class="{{ fadeClassAnimation }}"
            (click)="cartService.clearCart()"
            class="clearCartBtn"
          >
            <i class="fas fa-trash"></i> <br />
            Clear cart
          </button>
        </div>
      </div>
    </div>
    <div class="cart" id="cartBody">
      <!-- from here is admin cart -->

      <div class="wrapper" *ngIf="showAddOrEditForm == true">
        <div class="cardContent">
          <h2>Enter the details of the new product here</h2>
          <form>
            <select
              type="select"
              class="fadeIn second zero-raduis form-select"
              name="category"
              [(ngModel)]="productService.newOrEditProdcut.categoryId"
            >
              <option value="0" selected>Select category</option>
              <option
                *ngFor="let category of productService._categoreis"
                value="{{ category.id }}"
              >
                {{ category.name }}
              </option>
            </select>
            <br />
            <small *ngIf="validate.isErrorNewProduct.category != ''">{{
              validate.isErrorNewProduct.category
            }}</small>

            <input
              type="text"
              class="fadeIn second zero-raduis form-control"
              placeholder="name"
              name="name"
              [(ngModel)]="productService.newOrEditProdcut.name"
            />
            <br />
            <small *ngIf="validate.isErrorNewProduct.name != ''">{{
              validate.isErrorNewProduct.name
            }}</small>
            <input
              type="number"
              class="fadeIn third zero-raduis pt-3 form-control"
              placeholder="Price"
              name="price"
              [(ngModel)]="productService.newOrEditProdcut.price"
            />
            <br />
            <small *ngIf="validate.isErrorNewProduct.price != ''">{{
              validate.isErrorNewProduct.price
            }}</small>
            <input
              type="file"
              class="fadeIn third zero-raduis pt-3 form-control"
              name="picture"
              (change)="getFile($event)"
            />
            <br />
            <small *ngIf="validate.isErrorNewProduct.imageErr != ''">{{
              validate.isErrorNewProduct.imageErr
            }}</small>
            <button
              type="button"
              class="fadeIn fourth myBtn"
              (click)="saveProduct()"
            >
              Save
            </button>
          </form>
        </div>
      </div>

      <!-- from here is user cart -->
      <div *ngFor="let product of cartService._liveCart">
        <div class="productCartWarrper d-flex justify-content-between">
          <img
            class="productCartImg align-self-center"
            src="http://localhost:4000/uploads/{{ product.image }}"
          />
          <div>
            <h2 class="productCartName">{{ product.name }}</h2>

            <div class="productCartPrice">
              ${{ product.price | number }} |
              <span class="productCartQty"> QTY : {{ product.quentity }}</span>
            </div>
          </div>
          <div>
            <button
              (click)="cartService.deleteCartProduct(product.id)"
              id="deleteProductBtn"
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
      <div
        id="emptyCart"
        *ngIf="
          cartService._liveCart.length == 0 && userService.isAdmin == false
        "
      >
        <span>Let's start Adding some items</span><br />
        <i class="bi bi-cart-plus"></i>
      </div>
      <div
        (click)="showForm(false)"
        *ngIf="userService.isAdmin == true"
        id="emptyCart"
      >
        <button *ngIf="showAddNewProductInAdminCart == true" id="addProductBtn">
          <span> Adding a new product</span><br />
          <i class="bi bi-cart-plus"></i>
        </button>
      </div>
      <!-- end of cart -->
    </div>

    <div class="text-center" id="cartFooter">
      <div *ngIf="userService.isAdmin == false">
        <button
          *ngIf="cartService.cartTotalPrice != 0"
          (click)="goToCheckoutPage()"
          class="Checkout"
        >
          Checkout
          <span id="totalPrice" class="text-center  {{ fadeClassAnimation }}">
            ${{ cartService.cartTotalPrice | number }}
          </span>
        </button>
        <button
          disabled
          class="Checkout"
          *ngIf="cartService.cartTotalPrice == 0"
          (click)="goToCheckoutPage()"
          id="CheckoutDes"
        >
          Checkout
          <span id="totalPrice" class="text-center {{ fadeClassAnimation }}">
            ${{ cartService.cartTotalPrice | number }}
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Here's the part of the close and open the cart (side bar)  -->
<button
  id="closeCartBtn"
  (click)="closeOrOpenCart()"
  class="{{ btnAnimation }}"
>
  <i
    *ngIf="this.isCartSideBarOpen == true"
    id="arrow"
    class="fas fa-chevron-circle-right"
  ></i>
  <i
    *ngIf="this.isCartSideBarOpen == false"
    id="arrow"
    class="fas fa-chevron-circle-left"
  ></i>
</button>
