* {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.zero-raduis {
  border-radius: 0px !important;
}

/* from here is for search input */
#searchBox {
  position: sticky;
  position: -webkit-sticky;
  z-index: 2;
  top: 111px;
}

#searchform {
  background-color: #f3f3f3;
}

.input-group {
  background-color: white;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

/* from here is for profucts  card */

#productsWarrper {
  background-color: #f3f3f3;
  width: 75%;
}
.cardsAllPage {
  width: 100% !important;
  background-color: #f3f3f3;
}

/* from here is for cart */

#cartWarrper {
  width: 25%;
  position: -webkit-fixed;
  position: fixed;
  z-index: 1;
  right: 0;
  height: 85vh !important;
  min-height: 85vh;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f5f5f4;
}

.cartTitle {
  font-size: 1.7rem;
  font-family: Comic Sans MS !important;
  text-align: left;
  padding-left: 5px;
  color: #506931;
}

#addProductBtn {
  background-color: transparent;
  color: #e2ad28;
}

#addProductBtn:hover {
  color: #506931;
  transition: ease-in-out 0.5s;
}

#productsAmount {
  font-size: 0.6em;
  font-weight: lighter;
}
.bi-cart-fill {
  color: #506931;
  font-size: 2.2rem;
  position: absolute;
  top: 0;
  left: 50%;
}

.clearCartBtn {
  transition: 0.2s;
  float: right;
  padding-top: 5px;
  padding-right: 5px;
  display: inline;
  background-color: transparent;
  color: #506931;
  font-size: 1em;
}
.clearCartBtn:hover {
  color: #f4d27e;
}
#clearDiv {
  display: inline;
  font-family: Comic Sans MS;
}

#arrow {
  font-size: 2rem;
  color: #a4d668;
}
#cartProducts {
  width: 75%;
}
#cartBody {
  height: 80%;
  overflow-y: auto;
}

#emptyCart {
  text-align: center;
  padding-top: 30%;
  color: #e2ad28;
}
.bi-cart-plus {
  font-size: 165px;
  font-weight: lighter;
}

.productCartWarrper {
  position: relative;
  background-color: white;
  margin: 15px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid transparent;
}
.productCartWarrper:hover {
  border: 2px solid #a4d668;
}

.productCartImg {
  max-height: 85px;
  width: 80px;
  margin-right: 5px;
  padding-left: 10px;
}
.productCartName {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  color: #506931;
  font-family: Comic Sans MS;
  padding-left: 5px;
  padding-top: 10px;
}
.productCartQty {
  font-size: 0.85em !important;
  font-weight: 700 !important;
  color: #506931;
  font-family: Comic Sans MS;
}
.productCartPrice {
  font-size: 0.8em;
  font-weight: 800;
  position: absolute;
  bottom: 0;
  right: 20px;
  color: #506931;
  font-family: Comic Sans MS;
}
#deleteProductBtn {
  color: transparent;
  background-color: transparent;
  padding: 3px;
  margin-right: 3px;
  font-size: 24px;
}
.bi-trash:hover {
  transition: 0.2s;

  color: #f5c856;
}

.productCartWarrper:hover #deleteProductBtn {
  transition: 0.1s;
  color: black;
}

button {
  border: none;
  outline: none;
}
#openCartBtn {
  position: fixed;
  position: -webkit-fixed;
  top: 50%;
  right: 0;
  z-index: 2;
  opacity: 0;
}
#closeCartBtn {
  position: fixed;
  position: -webkit-fixed;
  top: 50%;
  right: 23%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1);
}

#cartFooter {
  background-color: #f5f5f4;
  padding: 7px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.Checkout {
  transition: 0.4s;
  width: 80%;
  min-height: 35px;
  background-color: #f4d27e;
  font-size: 1.1rem;
  border: 1px solid gray;
  border-radius: 20px;
}

.Checkout:hover {
  background-color: #506931;
  color: #f4d27e;
}

#CheckoutDes {
  background-color: #726d5e;
  color: #f4d27e;
}

#totalPrice {
  float: right;
  margin-right: 25px;
}

.cartFadeOut {
  animation: cartFadeOut 0.5s steps(120) forwards;
  -webkit-animation: cartFadeOut 0.5s steps(120) forwards;
  -moz-animation: cartFadeOut 0.5s steps(120) forwards;
}
.cartFadeIn {
  animation: cartFadeIn 0.5s steps(120) forwards;
  -webkit-animation: cartFadeIn 0.5s steps(120) forwards;
  -moz-animation: cartFadeIn 0.5s steps(120) forwards;
}
.btnOut {
  animation: btnOut 0.5s steps(120) forwards;
  -webkit-animation: btnOut 0.5s steps(120) forwards;
  -moz-animation: btnOut 0.5s steps(120) forwards;
}
.btnIn {
  animation: btnIn 0.5s steps(120) forwards;
  -webkit-animation: btnIn 0.5s steps(120) forwards;
  -moz-animation: btnIn 0.5s steps(120) forwards;
}

@keyframes cartFadeOut {
  from {
    width: 25%;
  }
  to {
    width: 0px;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cartFadeIn {
  from {
    width: 0px;
  }
  to {
    width: 25%;
  }
}

@keyframes btnOut {
  from {
    right: 23%;
  }
  to {
    right: 0;
  }
}

@keyframes btnIn {
  from {
    right: 0;
  }
  to {
    right: 23%;
  }
}

/* from here it is gor the form  */

.zero-raduis {
  border-radius: 0px !important;
}

/* STRUCTURE */

h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  color: #506931;
  font-family: Sans-serif Geneva !important;
}
/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #a4d668;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 30px;
}

.cardContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 100%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* FORM TYPOGRAPHY*/
.myBtn {
  background-color: #a4d668;
  border: none;
  color: white;
  width: 85%;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.myBtn:hover {
  background-color: #a4d668;
}
.myBtn:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type="password"],
select,
input[type="text"],
input[type="number"],
input[type="file"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type="password"]:focus,
select:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="file"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #a4d668;
}

input[type="password"]:placeholder,
select:placeholder,
input[type="text"]:placeholder,
input[type="number"]:placeholder,
input[type="file"]:placeholder {
  color: #cccccc;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  width: 0;
  height: 2px;
  background-color: #a4d668;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

/* OTHERS */

*:focus {
  outline: none;
}

small {
  font-size: 0.83rem;
  color: red;
}
