<div class="row" id="warrper">
  <!-- Here's the part of the table receipt  -->
  <div id="receipt" class="col-xl-6">
    <div class="row" id="headerReceipt">
      <form class="col-md-8" id="searchform">
        <div class="input-group border rounded-pill p-1">
          <input
            type="search"
            placeholder="Search on your receipt"
            aria-describedby="button-addon4"
            class="form-control bg-none border-0"
            [(ngModel)]="searchBox"
            (ngModelChange)="searchProductOnOrder(searchBox)"
            name="searchBox"
          />
        </div>
      </form>
      <div class="col-md-4">
        <button (click)="goToHomePage()" id="backBtn" type="button">
          <i class="bi bi-shop-window"></i> Back to store
        </button>
      </div>
    </div>
    <table class="table" #receiptTable>
      <thead>
        <tr>
          <th scope="col">Quantity</th>
          <th scope="col"></th>
          <th scope="col">Product name</th>
          <th scope="col">Price</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let product of cartService.filterCartProducts">
          <td>
            <span class="qty">{{ product.quentity }}</span>
          </td>

          <td>
            <img src="http://localhost:4000/uploads/{{ product.image }}" />
          </td>
          <td
            class="productName"
            [innerHTML]="product.name | markText: searchBox:product.name"
          ></td>
          <td class="productPrice">${{ product.price }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td>Total</td>
          <td>${{ cartService.cartTotalPrice | number }}</td>
        </tr>
      </tfoot>
    </table>
  </div>

  <!-- from here is Shipping & Payment Details -->
  <div class="col-xl-6">
    <div class="wrapper fadeInDown zero-raduis">
      <div id="orderForm" class="cardContent">
        <h2>
          <i class="fas fa-shipping-fast px-2"></i>

          Shipping & Payment Details
        </h2>
        <form>
          <span class="py-2 formSpan">**Double-click to Default address**</span>
          <input
            type="text"
            id="city"
            class="fadeIn third zero-raduis pt-3"
            name="city"
            placeholder="City"
            [(ngModel)]="orderService.orderForm.city"
            (dblclick)="autoFill('city')"
          />
          <small *ngIf="validate.isErrorPlaceOrder.city != ''">{{
            validate.isErrorPlaceOrder.city
          }}</small>

          <input
            type="text"
            id="street"
            class="fadeIn second zero-raduis"
            name="street"
            placeholder="street"
            [(ngModel)]="orderService.orderForm.street"
            (dblclick)="autoFill('street')"
          />
          <small *ngIf="validate.isErrorPlaceOrder.street != ''">{{
            validate.isErrorPlaceOrder.street
          }}</small>
          <span class="formSpan d-block">Select a delivery date</span>
          <input
            type="date"
            id="date"
            class="fadeIn second zero-raduis"
            name="dilveryDate"
            [(ngModel)]="orderService.orderForm.deliveryDate"
          />
          <small *ngIf="validate.isErrorPlaceOrder.deliveryDate != ''">{{
            validate.isErrorPlaceOrder.deliveryDate
          }}</small>
          <hr />
          <i class="bi bi-credit-card d-block"></i>

          <input
            type="number"
            placeholder="Credit card number"
            id="creditCard"
            class="fadeIn second zero-raduis"
            name="creditCard"
            [(ngModel)]="orderService.orderForm.creditCard"
          />
          <small *ngIf="validate.isErrorPlaceOrder.creditCard != ''">{{
            validate.isErrorPlaceOrder.creditCard
          }}</small>
          <input
            id="PlaceOrderBtn"
            type="button"
            class="fadeIn fourth zero-raduis"
            value="Place order"
            (click)="sendOrder()"
          />
        </form>
      </div>
    </div>
  </div>
</div>
