* {
  font-size: 28px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
#wrapper {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
  background: #a4d668;
}
#logo {
  height: 95px;
}
#logoBtn {
  padding-left: 10%;
}
#solgen {
  height: 92px;
  width: 405px;
}
.userName {
  padding-top: 28px;
  text-align: right;
  padding-right: 10%;
  font-size: 1.3rem;
  color: white;
  font-family: Comic Sans MS;
}
#logOut {
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
}
#logOut:hover {
  color: #eaa044;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

#menu {
  text-align: center;
  float: left;
  text-align: right;
  height: 30px;
}

.category_menu {
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
  border-right: 2px solid #506931;
  text-decoration: none;
  color: #506931;
  transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  font-size: 1.3rem;
  font-family: Comic Sans MS;
}
.category_menu:hover {
  color: #eaa044;
}

.category_menu:last-child {
  border: none;
}
