<div class="row" id="wrapper">
  <!-- Here's the part of the logo  -->
  <div class="col-xl-2 py-2">
    <button id="logoBtn">
      <img
        (click)="goToLogPage()"
        id="logo"
        src="../../../assets/images/logo.jpeg"
        alt="logo"
      />
    </button>
  </div>

  <!-- Here's the part of the solgen  -->
  <div
    *ngIf="userService.userInHomePage == false"
    class="col-xl-8 text-center py-2"
  >
    <img id="solgen" src="../../../assets/images/slogen.jpeg" />
  </div>

  <!-- Here's the part of the category list  -->

  <div
    id="menu"
    class="col-xl-8 nav align-self-center"
    *ngIf="userService.userInHomePage == true"
  >
    <button
      *ngFor="let category of prodctService._categoreis"
      class="category_menu"
      (click)="selcetCategory(category)"
    >
      {{ category.name }}
    </button>
  </div>

  <!-- Here's the part of the log out  -->
  <div class="col-xl-2 pt-2">
    <div class="userName" *ngIf="userService._currentUser.firstName == ''">
      Hellow gust
    </div>
    <div class="userName" *ngIf="userService._currentUser.firstName != ''">
      Hellow {{ userService._currentUser.firstName | titlecase }}
      <button>
        <i (click)="logOut()" id="logOut" class="fas fa-sign-out-alt"></i>
      </button>
    </div>
  </div>
</div>
