<div id="regWrapper">
  <div class="wrapper fadeInDown zero-raduis">
    <div class="cardContent">
      <!-- step one title -->
      <div *ngIf="currentStep == 1" class="fadeIn first">
        <h2 class="my-5">
          Welcome to the registration page! <br />
          Please Fill in the details to continue...
        </h2>
      </div>

      <!-- step Two title -->
      <div *ngIf="currentStep == 2" class="fadeIn first">
        <h2 class="my-5">Just a few more details of your personal details</h2>
      </div>

      <!-- singin Form step one -->
      <form>
        <small>All fields are Required * </small>
        <div *ngIf="currentStep == 1">
          <input
            type="number"
            onkeypress="return /[0-9]/i.test(event.key)"
            id="personalId"
            class="fadeIn second zero-raduis"
            placeholder="ID"
            name="personalId"
            [(ngModel)]="stepOne.personalId"
            oninput=" if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxlength="9"
          />
          <br />
          <small *ngIf="validate.isErrorStepOne.personalId != ''">{{
            validate.isErrorStepOne.personalId
          }}</small>
          <input
            type="email"
            id="email"
            class="fadeIn second zero-raduis"
            placeholder="Email"
            name="mail"
            [(ngModel)]="stepOne.mail"
          />
          <br />
          <small *ngIf="validate.isErrorStepOne.mail != ''">{{
            validate.isErrorStepOne.mail
          }}</small>
          <input
            type="password"
            id="password"
            class="fadeIn third zero-raduis pt-3"
            placeholder="Password"
            name="password"
            [(ngModel)]="stepOne.password"
          />
          <br />
          <small *ngIf="validate.isErrorStepOne.password != ''">{{
            validate.isErrorStepOne.password
          }}</small>
          <input
            type="password"
            id="confirmPassword"
            class="fadeIn third zero-raduis pt-3"
            placeholder="Confirm Password"
            name="confirmPassword"
            [(ngModel)]="stepOne.confirmPassword"
          />
          <br />
          <small *ngIf="validate.isErrorStepOne.confirmPassword != ''">{{
            validate.isErrorStepOne.confirmPassword
          }}</small>
          <div>
            <button
              type="button"
              class="fadeIn fourth zero-raduis"
              (click)="nextStep()"
            >
              <i class="fas fa-chevron-circle-right"></i>
              <span class="mx-4">Go to the next step </span>
              <i class="fas fa-chevron-circle-right"></i>
            </button>
          </div>
        </div>

        <!-- from here it is step Two registrtion -->
        <div *ngIf="currentStep == 2">
          <select
            type="select"
            class="fadeIn second zero-raduis"
            name="city"
            [(ngModel)]="stepTwo.city"
          >
            <option value="">select city</option>
            <option value="jerusalem">Jerusale</option>
            <option value="tel-aviv">Tel-Aviv</option>
            <option value="haifa">Haifa</option>
            <option value="Rishon Lezion">Rishon Lezion</option>
            <option value="Petah Tikva">Petah Tikva</option>
            <option value="Ashdod">Ashdod</option>
            <option value="Netanya">Netanya</option>
            <option value="Beer Sheva">Beer Sheva</option>
            <option value="Bnei Brak">Bnei Brak</option>
            <option value="Holon">Holon</option>
          </select>
          <br />
          <small *ngIf="validate.isErrorStepTwo.city != ''">{{
            validate.isErrorStepTwo.city
          }}</small>
          <input
            type="text"
            class="fadeIn second zero-raduis"
            placeholder="Street"
            name="street"
            [(ngModel)]="stepTwo.street"
          />
          <br />
          <small *ngIf="validate.isErrorStepTwo.street != ''">{{
            validate.isErrorStepTwo.street
          }}</small>
          <input
            type="text"
            class="fadeIn third zero-raduis pt-3"
            placeholder="First name"
            name="firstName"
            [(ngModel)]="stepTwo.firstName"
            onkeypress="return /[a-z]/i.test(event.key)"
          />
          <br />
          <small *ngIf="validate.isErrorStepTwo.firstName != ''">{{
            validate.isErrorStepTwo.firstName
          }}</small>
          <input
            type="text"
            class="fadeIn third zero-raduis pt-3"
            placeholder="Last name"
            name="lastName"
            [(ngModel)]="stepTwo.lastName"
            onkeypress="return /[a-z]/i.test(event.key)"
          />
          <br />
          <small *ngIf="validate.isErrorStepTwo.lastName != ''">{{
            validate.isErrorStepTwo.lastName
          }}</small>
          <div class="row">
            <button
              type="button"
              class="fadeIn fourth stepTwoBtn"
              (click)="goBackToStepOne()"
            >
              <i class="fas fa-chevron-circle-left"></i>
              <span class="mx-4">Go back </span>
              <i class="fas fa-chevron-circle-left"></i>
            </button>
            <button
              type="button"
              class="stepTwoBtn fadeIn fourth"
              (click)="sendForm()"
            >
              <i class="fas fa-chevron-circle-right"></i>
              <span class="mx-4">Register </span>
              <i class="fas fa-chevron-circle-right"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
