.cardWarrper {
  font-family: Comic Sans MS;
  background-color: white;
  padding: 10px;
  margin-top: 5px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  position: relative;
  z-index: 1;
  color: #506931;
}
.cardWarrper:hover {
  border: 2px solid #a4d668;
}

#editIcon {
  opacity: 0;
  float: right;
  font-size: 24px;
}

.cardWarrper:hover #editIcon {
  display: inline;
  opacity: 1;
}

img {
  padding-top: 10px;
  max-width: 100%;
  padding-left: 35px;
  height: 130px;
  margin-bottom: 5px;
  display: block;
}

.productName {
  max-width: 80%;
  font-size: 22px;
  margin-top: 20px;
}

.productPrice {
  width: 30%;
  font-size: 18px;
  padding-right: 10px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  text-align: right;
  font-weight: bold;
  display: inline;
}
button {
  color: #000;
  background-color: transparent;
  border: none;
  outline: none;
}

h2 {
  font-family: Comic Sans MS;

  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #506931 !important;
  text-transform: uppercase;
  display: inline-block;
}

.addToCartTools {
  width: 70%;
  position: absolute;
  bottom: 0;
  padding-bottom: 2px;
  padding-top: 30px;
  display: none;
}
.cardWarrper:hover #CardTools {
  display: block;
}
.counter {
  width: 10%;
  border-radius: 10px;
  border-color: #a4d668;
  margin-left: 7px;
  margin-right: 7px;
  -moz-appearance: textfield;
  outline: none;
  height: 28px;
  text-align: center;
  font-weight: 500;
  color: #506931;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.addToCartBtn {
  font-size: 0.85em;
  margin-left: 8px;
  padding-top: 6px;
  color: #506931;

  background-color: #f4d27e;
  border: 0.5px solid #eb935c5e;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.changeBtn {
  color: #506931;
  font-size: 1.2em;
  font-weight: bold;
}

.changeBtn:hover {
  color: #a4d668;
}
