<!-- Here's the part of the currect category name  -->
<h2 *ngIf="productService.showCategoryTitle == true">
  {{ productService.currentCategory.name }}
</h2>
<h2 *ngIf="productService.showCategoryTitle == false">
  Search Results for: {{ productService.serchTitle }}
</h2>

<!-- Here's the part of the products cards  -->
<div
  class="{{ productService.prodctsRowClass }} "
  *ngFor="let product of productService._products"
>
  <div class="cardWarrper">
    <div *ngIf="userService.isAdmin == true" class="editProduct">
      <button (click)="editProduct(product)" id="editIcon" class="editBtn">
        <i class="fas fa-edit"></i>
      </button>
    </div>
    <div id="cartImg" class="d-flex justify-content-center">
      <img src="http://localhost:4000/uploads/{{ product.image }}" />
    </div>
    <div class="productName">
      <span> {{ product.name }} </span>
    </div>

    <div
      id="CardTools"
      class="addToCartTools"
      *ngIf="userService.isAdmin == false"
    >
      <button class="changeBtn" (click)="changeQty('plus', product.id)">
        <i class="bi bi-plus-circle"></i></button
      ><input id="{{ product.id }}" class="counter" type="number" value="1" />
      <button class="changeBtn" (click)="changeQty('minus', product.id)">
        <i class="bi bi-dash-circle"></i>
      </button>
      <button class="addToCartBtn" (click)="addOrEditProductCart(product)">
        Add to cart
      </button>
    </div>
    <div class="productPrice align-self-end">${{ product.price }}</div>
  </div>
</div>
